/**
 * {1} Override primary color because the default does not provide
 *     high enough contrast against a white background.
 */
:root {
  --primary: #08769b; /* {1} */
}

a {
  text-decoration: underline;
}

.container {
  margin-top: 2rem;
}

.municipality-table {
  overflow-x: auto;
}

h1 {
  --typography-spacing-vertical: 2rem;
}

h2 {
  --typography-spacing-vertical: 1rem;
}

@media (min-width: 992px) {
  .container {
    max-width: 46.875rem;
  }
}
